header {
    background: linear-gradient(135deg, rgb(147, 147, 147) 0%, rgb(43, 43, 43) 100%);
    color:white;
  }

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 75px;
}
h2 {
  font-size: 30px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 27px;
  
}
/* Search Results Card Styling */
.card {
  width: 1000px;
  height: 150px;
  flex-direction: row;
  background: linear-gradient(135deg, rgb(147, 147, 147) 0%, rgb(43, 43, 43) 100%);
  color:white;
}

.album-cover {
  width: 125px;
  height: 125px;
  margin: 2%;
  box-shadow: 2px 2px rgb(43, 43, 43);
  justify-content: flex-start;
}

.artist {
  width: 40%;
  text-align: left;
  padding: 2px;
}

.song{
  width: 40%;
  text-align: left;
}

.play-button {
  width:70px;
  height:70px;
  margin: 5px;
}

.button {
  width: 190px;
  height: 25x;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(43, 43, 43);
  background-color: rgb(235, 232, 232);
  font-size: 24px;
  padding: 10px;
  font-family: 'Righteous', cursive;
 }
/* Search Bar */
  .animated-search-form[type=search] {
    width: 30rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("https://image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
    margin: 2rem;
  }
    .animated-search-form[type=search]:focus {
    width: 40%;
  }

/* For results page */
.flex-container{
  align-items: center;
}




  