header {
    background: linear-gradient(135deg, rgb(147, 147, 147) 0%, rgb(43, 43, 43) 100%);
    color:white;
  }

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 75px;
}

/* Search Results Card Styling */
.card {
  width: 550px;
  height: 150px;
  flex-direction: row;
  background: linear-gradient(135deg, rgb(147, 147, 147) 0%, rgb(43, 43, 43) 100%);
  color:white;
  align-items: center;
  justify-content: space-between;
}
.album-cover {
  width: 125px;
  height: 125px;
  margin: 2%;
  box-shadow: 2px 2px rgb(43, 43, 43);
}
.play-button{
  width:70px;
  height:70px;
  margin-right: 3px;
}

/* Search Bar */
  .animated-search-form[type=search] {
    width: 30rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("https://image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
    margin: 7rem;
  }
    .animated-search-form[type=search]:focus {
    width: 100%;
  }

#song-player{
  align-items: center;
}

#song-lyrics{
  align-items: center;
}
 



  